{% extends "shop-wrapper.html" %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        {% if messages %}
            <div class="container mt-3">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show d-flex justify-content-between align-items-center" role="alert">
                        <div>
                            {{ message }}
                        </div>
                        <div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="background-color: transparent;border: none;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                </div>
                {% endfor %}
            </div>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {% endif %}
        {% if products %}
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">
            {% for i in products %}
            <div class="card rounded-3 mb-4 mt-4">
              <div class="card-body p-4">
                <div class="row d-flex justify-content-between align-items-center pr-8">
                  <div class="col-md-3 col-lg-3 col-xl-3 " style="height: 200px;">
                    <img src="{{ i.product.image.url }}" class="img-fluid rounded-3" alt="{{ i.name }}" style="width: 100%;height: 100%;">
                  </div>
                  <div class="col-md-3 col-lg-3 col-xl-3  text-align-center-sm py-2">
                    <div style="display: flex;justify-content: space-between;align-items: center;width: 100%;">
                        <h5 class="fw-bolder">{{ i.product.name }}</h5>
                    </div>
                    <div class="mt-2">
                        <span style="font-weight: bold;">Narxi: </span><span style="color: red;" > {{ i.product.price }} so'm</span>
                    </div>
                   <div class="mt-2">
                    <span style="font-weight: bold;">Jami:</span><span style="color: red;" id="overall_price_{{ i.product_id }}"> {{ i.overall_price }} so'm</span>
                   </div>
                   <div class="mt-2">
                    <span style="font-weight: bold;">Soni:</span><span style="color: red;" id="overall_quantity_{{ i.product_id }}"> {{ i.quantity }} ta</span>
                   </div>
                </div>
                  <div class="col-md-5 col-lg-4 col-xl-4 d-flex  justify-content-center align-items-center py-2 text-center">
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent" onclick="toggleAnswer('{{ i.product_id }}')" id="{{ i.product_id }}">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" >Qo'shish</a></div>
                    </div>
                    <div id="counter-{{ i.product_id }}" class="counter border-top-0 mb-3"  data-product-id="{{ i.product_id }}">
                        <i class="bi bi-dash-circle-fill" id="decrement" onclick="decrement(this)"></i>
                        <span id="count">{{ i.quantity }}</span>
                        <i class="bi bi-plus-circle-fill" id="increment"  onclick="increment(this)"></i>
                    </div>
                    <form method="POST" style="margin-top: -25px;">
                        {% csrf_token %}
                        <input type="text" value="{{ i.product_id }}" style="display: none;" name="product">
                        <button class="btn btn-outline-dark mt-auto" type="submit" name="remove">o'chirish</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            </div>
        </div>
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" >Buyurtma berish</a></div>
        </div>
        {% else %}
            <p style="color: black;font-size: 50px;font-weight: 700;margin: 0 auto;text-align: center;">Ma'hsulot mavjud emas</p>
       {% endif %}
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Buyurtma</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Ismingiz</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ism Familiya" name="customer_name">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Telefon Raqamigiz</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="+998907697969" name="customer_phone">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Shahar va tuman</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Shahar va tuman" name="customer_city_region">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Ko'cha</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Ko'cha" name="customer_street">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Mo'ljal</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Mo'ljal" name="customer_target">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
                    <button type="submit" class="btn btn-outline-dark mt-auto" name="order">Jo'natish</button>
                  </div>
              </form>
        </div>
      </div>
    </div>
</div>
{% endblock content %}
