{% extends "shop-wrapper.html" %}
{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        {% if products %}
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% csrf_token %}
            {% for i in products %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <div class="image">
                        <img src="{{ i.product.image.url }}" alt="Product_image" style="width: 100%;height: 100%;"/>
                    </div>
                   <!-- Product details-->
                   <div class="card-body p-4">
                    <div class="text">
                        <!-- Product name-->
                        <div style="display: flex;justify-content: space-between;align-items: center;width: 100%;">
                            <div>
                                <h5 class="fw-bolder">{{ i.product.name }}</h5>
                            </div>
                                {% csrf_token %}
                                <div   style="background-color: transparent;border: none;" data-product-id="{{ i.product_id }}">
                                    {% if i.product.id in items %}
                                    <i class="bi bi-heart" style="font-size: 30px;color: red;cursor: pointer;" onclick="addWishlist(this)"></i>
                                    {% else %}
                                    <i class="bi bi-heart" style="font-size: 30px;color: black;cursor: pointer;" onclick="addWishlist(this)"></i>
                                    {% endif %}
                                </div>
                        </div>
                        <!-- Product price-->
                        {{ i.product.price }} so'm
                    </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent" onclick="toggleAnswer('{{ i.product_id }}')" id="{{ i.product_id }}">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" >Savatga</a></div>
                    </div>
                    <div id="counter-{{ i.product_id }}" class="counter border-top-0 mb-3"  data-product-id="{{ i.product_id }}">
                        <i class="bi bi-dash-circle-fill" id="decrement" onclick="decrement(this)"></i>
                        <span id="count">0</span>
                        <i class="bi bi-plus-circle-fill" id="increment"  onclick="increment(this)"></i>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <p style="color: black;font-size: 50px;font-weight: 700;margin: 0 auto;text-align: center;">Ma'hsulot mavjud emas</p>
       {% endif %}
          <!-- Pagination  -->
        <div class="pagination">
            {% if products.has_previous %}
                <a href="?page={{ products.previous_page_number }}" class="prev">
                    <!-- <i class="fa-solid fa-chevron-left"></i> -->
                </a>
            {% else %}
                <span class="prev disabled">
                    <!-- <i class="fa-solid fa-chevron-left"></i> -->
                </span>
            {% endif %}
            
            <ul class="pagination-item">
                {% for page_number in products.paginator.page_range %}
                    <li {% if products.number == page_number %} class="active_page"{% endif %}>
                        <a href="?page={{ page_number }}" class="pagination_number">{{ page_number }}</a>
                    </li>
                {% endfor %}
            </ul>
            
            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}" class="next">
                    <!-- <i class="fa-solid fa-chevron-right"></i> -->
                </a>
            {% else %}
                <span class="next disabled">
                    <!-- <i class="fa-solid fa-chevron-right"></i> -->
                </span>
            {% endif %}
        </div>
        <!--  Pagination end -->
    </div>
</section>
<script>
    let paginationItem = document.querySelector(".pagination-item");
    let prev = document.querySelector(".prev");
    let next = document.querySelector(".next");


    let total_pages = {{ products.paginator.num_pages }};
    let current_page = {{ products.number }};

create_pages(current_page);

function create_pages(current_page) {
    paginationItem.innerHTML = "";

    let before_page = current_page - 2;
    let after_page = current_page + 2;

    if (current_page <= 2) {
        before_page = 1;
    }

    if (current_page >= total_pages - 1) {
        after_page = total_pages;
    }

    for (let i = before_page; i <= after_page; i++) {
        let active_page = (current_page == i) ? "active_page" : "";

        paginationItem.innerHTML += `<li><a href="?page=${i}" class="page_number ${active_page}">${i}</a></li>`;
    }


    prev.onclick = function () {
        if (current_page > 1) {
            current_page--;
            create_pages(current_page);
        }
    }

    if (current_page <= 1) {
        prev.style.display = "none";
    } else {
        prev.style.display = "block";
    }

    next.onclick = function () {
        if (current_page < total_pages) {
            current_page++;
            create_pages(current_page);
        }
    }

    if (current_page >= total_pages) {
        next.style.display = "none";
    } else {
        next.style.display = "block";
    }
}
</script>
{% endblock content %}