{% extends "admin_wrapper.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ status }} Buyurtmalar</h4>
          <p class="card-description">Xizmat ko'rsatilmagan Buyurtmalar<code></code></p>
          <div>
            <form action="" method="POST" style="display: flex;align-items: center;gap: 10px;">
              {% csrf_token %}
              <button type="submit" class="btn btn-success" name="active">Active Buyurtmalar</button>
              <button type="submit" class="btn btn-success" name="unactive">NoActive Buyurtmalar</button>
            </form>
          </div>
          <div class="table-responsive">
            <table class="table table-hover" style="overflow: visible;">
              <thead>
                <tr>
                  <th>Ism Familiya</th>
                  <th>Sanasi</th>
                  <th>Mijoz Telefon raqami</th>
                  <th>To'lov turi</th>
                  <th>Holati</th>
                  <th>Amaliyotlar</th>
                  <th>Yetkazib Beruvchi</th>
                </tr>
              </thead>
              <tbody>
                {% if orders %}
                {% for i in orders %}
                <tr>
                  <td><a href="{% url 'orders:detail' i.id %}">{{ i.name }}</a></td>
                  <td><a href="{% url 'orders:detail' i.id %}">{{ i.date_added }}</a></td>
                  <td><a href="{% url 'orders:detail' i.id %}">{{ i.phone }}</a></td>
                  {% if i.status == "Active" %}
                  <td>
                    <div class="dropdown">
                      <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuOutlineButton{{ i.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> To'lov </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton{{ i.id }}">
                        <h6 class="dropdown-header">To'lov</h6>
                        <form method="POST">
                          {% csrf_token %}
                              <span>
                                <input type="hidden" name="payment_type" value="Naqd">
                                <input type="hidden" name="order" value="{{ i.id }}">
                                <button type="submit" class="dropdown-item" name="cash">Naqd</button>
                              </span>
                        </form>
                        <form method="POST">
                          {% csrf_token %}
                              <span>
                                <input type="hidden" name="payment_type" value="Nasiya">
                                <input type="hidden" name="order" value="{{ i.id }}">
                                <button type="submit" class="dropdown-item" name="debt">Nasiya</button>
                              </span>
                        </form>
                        <form method="POST">
                          {% csrf_token %}
                              <span>
                                <input type="hidden" name="payment_type" value="Plastik">
                                <input type="hidden" name="order" value="{{ i.id }}">
                                <button type="submit" class="dropdown-item" name="plastik">Plastik</button>
                              </span>
                        </form>
                      </div>
                    </div>
                  </td>
                  {% else %}
                  <td>{{ i.payment_type }}</td>
                  {% endif %}
                  <td><label class="badge badge-danger">{{ i.status }}</label></td>
                  {% if i.deliver %}
                  <td>{{ i.deliver.username }}</td>
                  {% else %}
                  <td>
                    <div class="dropdown">
                      <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuOutlineButton{{ i.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Yetkazib Berish </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton{{ i.id }}">
                        <h6 class="dropdown-header">Yetkazib Beruvchilar</h6>
                        <form method="POST">
                          {% csrf_token %}
                            {% for d in delivers %}
                              <span>
                                <input type="hidden" name="deliver" value="{{ d.id }}">
                                <input type="hidden" name="order" value="{{ i.id }}">
                                <button type="submit" class="dropdown-item" name="deliver_submit">{{ d.username }}</button>
                              </span>
                            {% endfor %}
                        </form>
                      </div>
                    </div>
                  </td>
                  {% endif %}
                  {% if i.deliver %}
                  <td><a href="{% url 'orders:detail' i.id %}">{{ i.deliver.username }}</a></td>
                  {% endif %}
                </tr>
                {% endfor %}
                {% else %}
                <tr> Bu turdagi Buyurtmalar mavjud emas </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}